<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonSuite" >

  <test name="AmazonTest" >
      <packages>
      <package name="com.amazon.test.loginpage" />
      <package name="com.amazon.test.category" />
     
   </packages>
     
  </test> <!-- AmazonTest -->
</suite> <!-- AmazonSuite -->
